ion-content{
    --background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.mobile-logo{
    width: auto;
    height: 45px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.forgot-password{
    margin-top: 100px;
}
