<!-- <ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">Close</ion-button>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <p class="ion-text-right">Forgot Password?</p>
  
    <ion-button type="submit" expand="full" color="primary">Login</ion-button>
  </form>
  <p class="ion-text-center">Don't have a account?</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">Register</ion-button>
</ion-content> -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-img class="mobile-logo" src="assets/icon/asset-tracking-system-logo-mobile.png"></ion-img>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-img class="mobile-logo" src="assets/icon/asset-tracking-system-logo-mobile.png"></ion-img>

    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input ngModel type="email" name="email" required="true"></ion-input>
      </ion-item>
    
      <br>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input ngModel type="password" name="password" required="true"></ion-input>
      </ion-item>
      
      <br>

      <ion-button type="submit" expand="full" color="primary">Login</ion-button>

      <p class="ion-text-center">Forgot Password?</p>
    
    </form>
</ion-content>

